<!DOCTYPE html>
<html>
<head>
    <title>Inventory</title>
</head>
<body>

<h1>Inventory Management</h1>

<table border="1" cellpadding="10">
    <tr>
        {% if inventory %}
            {% for key in inventory[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}
        {% endif %}
    </tr>

    {% for item in inventory %}
    <tr>
        {% for value in item.values() %}
            <td>{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<br>
<a href="/">Back to Home</a>

</body>
</html>
