<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<body>

<h1>Product Management</h1>

<table border="1" cellpadding="10">
    <tr>
        {% if products %}
            {% for key in products[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}
        {% endif %}
    </tr>

    {% for product in products %}
    <tr>
        {% for value in product.values() %}
            <td>{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<br>
<a href="/">Back to Home</a>

</body>
</html>
