<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
</head>
<body>

<h1>Project Management</h1>

<table border="1" cellpadding="10">
    <tr>
        {% if projects %}
            {% for key in projects[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}
        {% endif %}
    </tr>

    {% for project in projects %}
    <tr>
        {% for value in project.values() %}
            <td>{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<br>
<a href="/">Back to Home</a>

</body>
</html>
